<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Welcome! Here are games you can play right now :D</h1>
    <a href="/login">LOGIN</a>
    <div id="home-list of games">
        <% for (let i=0; i < data.length; i++) { %>
            <h2>
                <%= data[i].Title %>
            </h2>
            <h6>
                Release Date: <%= data[i]["Release Date"]%>
            </h6>
            <h3>
                Genres: <%= data[i].Genres %>
            </h3>
            <h3>
                Rating: <%= data[i]["User Score"] %>
            </h3>
            <hr>
            <br>

            <% } %>

    </div>
</body>

</html>